* {
  outline: none;
}

body {
   background: #333; 
}

.button {
   padding: 10px 20px 10px 20px;
   border-radius: 3px;
   font-size: 100%;
   background: linear-gradient(#464646,#2a2a2a);
   position: relative;
   box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
   font-family: helvetica neue light, helvetica neue, helvetica, sans-serif;
   color: rgba(255, 255, 255, 0.5);
   font-weight: 400;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
   border: 0px;
   margin: 15px;

}

#button-area{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-basis: 100%;
   flex-grow: 1;
}

#button-area-top{
   margin-top: 10%;
   margin-left: 15%;
   margin-right: 15%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#button-area-middle{
   padding-top: 10%;
   margin-left: 15%;
   margin-right: 15%; 
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#media-area{
   padding-top: 5%;
   margin-left: 15%;
   margin-right: 15%;
   justify-content: center;

}

#controls{
   margin-left: 15%;
   margin-right: 15%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#volume-area{
   padding-top: 4%;
   margin-left: 15%;
   margin-right: 15%;
}

.button:hover {
   cursor: pointer;
   background: linear-gradient(#4a4a4a,#2e2e2e);
}

.button:active {
   background: rgba(0, 0, 0, 0.2); 
   box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.range-input{
   position: relative;
   top:20%;
   left:50%;
   transform: translate(-50%,-50%);
   background-color: #292727;
   padding: 10px 20px;
   display: flex;
   align-items: center;
   border-radius: 10px;
 
 }
 .range-input input{
   -webkit-appearance: none;
   width: 400px;
   height: 2px;
   background-color: #4471ef;
   outline: none;
 }
 .range-input input::-webkit-slider-thumb{
   -webkit-appearance: none;
   width: 20px;
   height: 20px;
   background-color: #eee;
   border: 2px solid #4471ef;
   border-radius:50%;
   outline: none;
 }
 .range-input input::-webkit-slider-thumb:hover{
   background-color: #4471ef;
 }
 .range-input .value{
   color: #4471ef;
   text-allign: center;
   font-weight:600;
   line-height: 40px;
   height: 40px;
   overflow: hidden;
   position: absolute;

 }
 .range-input .value div{
   transition: all 300ms ease-in-out;
 }